Cython
matplotlib
numpy
omegaconf>=2.0.1
onnx
onnx-simplifier
opencv-python
pyaml
pycocotools
pytorch-lightning==1.9.3
tabulate
tensorboard
termcolor
torch>=1.10
torchmetrics
torchvision
tqdm
setuptools==59.5.0
